*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body{
    font-family: 'Roboto', sans-serif;
}

/* HEADER */

.nav1{
    display: flex;
    justify-content: space-between;    
    background-color: #222222;
    color: white;
    padding: 20px;
}

.nav1-item{
    background-color: #222222;
    color: white;
    border: none;
}

.nav2{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    align-items: center;
    background-color: #F0A83E;
    height: 60px;
    padding: 0 20px;
}

.nav2-item{
    display: inline-block;
    padding: 10px 0 10px 10px; 
    font-size: 20px;  
}

.nav2-item > a{
    text-decoration: none;
    color: white;
}

.logo{
    height: 23px;
}

.hero{
    height: 600px;
    background-image: url("../assets/img/bowl-and-pet-daities-on-green-background\ 1.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

.hero-content{
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: center;
    margin-right: 50px;
}

#hero-title{
    padding: 10px;
    margin: 10px;
    background-color: white;
    border-radius: 5px;
    font-size: 35px;
    font-weight: 400;
}

.hero-content > button{
    padding: 15px;
    margin: 10px;
    border-radius: 5px;
    background-color: #F0A83E;
    color: white;
    border: none;
    font-weight: 600;
    font-size: 16px;
}

/* MAIN */

.main-text-container{
    text-align: center;
    padding: 10px;
}

.main-text-container > p{
    display: inline-block;
    padding: 10px;
}

.main-container-link{
    text-decoration: none;
    padding: 5px;
    color: #666666;
}

.main-text-container > svg{
    margin: 10px;
}

.card-container{
    display: flex;
    justify-content: center;
}

.card{
    margin: 20px 20px 80px 20px;
    height: 350px;
}

.card-description{
    position: relative;
    color: #222222;
    font-size: 20px;
    font-weight: 600;
    text-align: center;
    z-index: 1;
    margin-top: -80px;
    padding: 10px;
}


.card-price{
    position: relative;
    color: #F0A83E;
    font-size: 25px;
    font-weight: 400;
    text-align: center;
    z-index: 1;
    margin-top: -50;
    padding-bottom: 20px;

}

/* FORM */

.form-title{
    text-align: center;
    font-size: 30px;
    font-weight: 600;
    padding: 20px;
}

.form-container{
    text-align: center;
}

.form-items{
    background-color: #3C2313;
    height: 40px;
    width: 300px;
    color: #ffffff;
    font-size: 11px;
    border-radius: 10px;
    padding: 10px;
}

.form-button{
    padding: 10px;
    margin: 5px;
    border-radius: 15px;
    width: 110px;
    border: none;
    color: #ffffff;
    font-size: 15px;
}

.form-button-reset{
    background-color: #8A8787;
}

.form-button-submit{
    background-color: #F0A83E;
}

/* FOOTER */

.subscription-section{
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #F0A83E;
    height: 100px;
    margin: 0;
    padding: 0;
}

.sub1, .sub2{
    margin: 20px;
}

.sub1{
    display: flex;
    justify-content: flex-start;
    align-items: center;
}

.sub1 > p{
    display: inline-block;
    padding: 10px;
    color: #ffffff;
    font-size: 23px;
    font-weight: 700;

}

.sub2 > input{
    margin: 10px;
    height: 50px;
    width: 200px;
    padding: 10px;
    border-radius: 15px;
    border: none;
    background-color: #ffffff;
    font-size: 11px;
    color: #A0A0A0;
}

.sub2 > button{
    margin: 10px;
    height: 50px;
    width: 100px;
    background-color: #3C2313;
    color: #ffffff;
    border-radius: 15px;
    border: none;
    font-size: 11px;
}

/* FOOTER */

.footer1{
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #3C2313;
    height: 300px;
    padding: 0;
    margin: 0;
}

.footer-logo{
    padding: 0 50px;
    height: 30px;
}

.footer1-container img{
    display: block;
    padding: 10px 50px;
}

.footer2{
    color: white;
    background-color: #222222;
    text-align: center;
    padding: 10px;
}

@media (max-width: 1420px){
    .card-container{
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
}


@media (max-width: 680px){
    
    .nav2{
        padding: 10px 10px;
    }
    
    .nav2-item{
        font-size: 15px;
    }

    .nav2-ul{
        display: flex;
        justify-content: center;
        margin: 0;
        padding: 0;
    }

    #hero-title{
        font-size: 30px;
    }

    .sub1{
        padding: 0;
        margin: 0;
    }

    .sub1 > p{
        font-size: 15px;
    }

    .sub2{
        padding: 0 10px;
        margin: 0;
    }

    .subscription-section{
        flex-direction: column;
        justify-content: flex-start;
    }

    .footer1{
       flex-direction: column;
    }

    .footer1-container{
        padding: 10px 0;
    }

    .footer-logo{
        height: 30px;
        padding-bottom: 10px;
    }

    .sub2 > input{
        height: 25px;
    }
    
    .sub2 > button{
        height: 25px;
    }

}



